[package]
authors = ["Saghm Rossi <saghmrossi@gmail.com>"]
license = "Apache-2.0"
name = "mongodb"
edition = "2018"
version = "0.1.0"

[dependencies]
bson = "0.13.0"
derivative = "1.0.2"
webpki = "0.19.1"
percent-encoding = "2.0.0"
error-chain = "0.12.1"
typed-builder = "0.3.0"


[dependencies.rustls]
version = "0.15.2"
features = ["dangerous_configuration"]

[dev-dependencies.serde]
version = "1.0.94"
features = ["derive"]
