[package]
authors = ["Saghm Rossi <saghmrossi@gmail.com>", "Patrick Freed <patrick.freed@mongodb.com>"]
description = "The official MongoDB driver for Rust (currently in alpha)"
edition = "2018"
documentation = "https://docs.rs/mongodb"
keywords = ["mongo", "mongodb", "database", "bson", "nosql"]
repository = "https://github.com/mongodb/mongo-rust-driver"
license = "Apache-2.0"
readme = "README.md"
name = "mongodb"
version = "0.9.1"

[features]
default = ["tokio-runtime"]
tokio-runtime = ["tokio/dns", "tokio/macros", "tokio/rt-core", "tokio/tcp", "tokio/rt-threaded", "tokio/time"]
async-std-runtime = ["async-std", "async-std/attributes"]

[dependencies]
async-trait = "0.1.24"
base64 = "0.11.0"
bitflags = "1.1.0"
bson = "0.14.0"
bufstream = "0.1.4"
byteorder = "1.3.2"
chrono = "0.4.7"
derivative = "1.0.2"
err-derive = "0.2.3"
futures = "0.3.4"
futures-intrusive = "0.3.0"
futures-timer = "3.0.2"
hex = "0.4.0"
hmac = "0.7.1"
lazy_static = "1.4.0"
md-5 = "0.8.0"
os_info = "1.1.2"
pbkdf2 = "0.3.0"
percent-encoding = "2.0.0"
quote = "=1.0.2"
rand = "0.7.2"
serde_with = "1.3.1"
sha-1 = "0.8.1"
sha2 = "0.8.0"
stringprep = "0.1.2"
time = "0.1.42"
trust-dns-proto = "0.19.0"
trust-dns-resolver = "0.19.0"
typed-builder = "0.3.0"
version_check = "0.9.1"
webpki = "0.21.0"
webpki-roots = "0.18.0"

[dependencies.async-std]
version = "1.5.0"
optional = true

[dependencies.rustls]
version = "0.17.0"
features = ["dangerous_configuration"]

[dependencies.serde]
version = "1.0.98"
features = ["derive"]

[dependencies.tokio]
version = "0.2.13"
features = ["io-util", "sync"]

[dependencies.tokio-rustls]
version = "0.13.0"
features = ["dangerous_configuration"]

[dev-dependencies]
approx = "0.3.2"
assert_matches = "1.3.0"
derive_more = "0.15.0"
function_name = "0.2.0"
pretty_assertions = "0.6.1"
serde_json = "1.0.40"
semver = "0.9.0"
