[package]
authors = ["Saghm Rossi <saghmrossi@gmail.com>", "Patrick Freed <patrick.freed@mongodb.com>"]
description = "The official MongoDB driver for Rust"
edition = "2018"
documentation = "https://docs.rs/mongodb"
keywords = ["mongo", "mongodb", "database", "bson", "nosql"]
repository = "https://github.com/mongodb/mongo-rust-driver"
license = "Apache-2.0"
readme = "README.md"
name = "mongodb"
version = "1.1.1"

exclude = [
    "etc/**",
    "rustfmt.toml",
    ".evergreen/**",
    ".gitignore",
    "src/test/**",
    "tests/**"
]

[features]
default = ["tokio-runtime"]
tokio-runtime = ["tokio/dns", "tokio/macros", "tokio/rt-core", "tokio/tcp", "tokio/rt-threaded", "tokio/time", "reqwest", "serde_bytes"]
async-std-runtime = ["async-std", "async-std/attributes"]
sync = ["async-std-runtime"]
bson-u2i = ["bson/u2i"]

[dependencies]
async-trait = "0.1.24"
base64 = "0.11.0"
bitflags = "1.1.0"
bson = "1.1.0"
chrono = "0.4.7"
derivative = "2.1.1"
err-derive = "0.2.3"
futures = "0.3.5"
hex = "0.4.0"
hmac = "~0.7.1"
lazy_static = "1.4.0"
md-5 = "0.8.0"
os_info = { version = "3.0.1", default-features = false }
percent-encoding = "2.0.0"
rand = { version = "0.7.2", features = ["small_rng"] }
serde_with = "1.3.1"
sha-1 = "0.8.1"
sha2 = "0.8.0"
socket2 = "0.3.12"
stringprep = "0.1.2"
strsim = "0.10.0"
take_mut = "0.2.2"
time = "0.1.42"
trust-dns-proto = "0.19.4"
trust-dns-resolver = "0.19.5"
typed-builder = "0.4.0"
version_check = "0.9.1"
webpki = "0.21.0"
webpki-roots = "0.18.0"

[dependencies.async-std]
version = "1.6.2"
optional = true

[dependencies.pbkdf2]
version = "0.3.0"
default-features = false

[dependencies.reqwest]
version = "0.10.6"
optional = true
default-features = false
features = ["json", "rustls-tls"]

[dependencies.rustls]
version = "0.17.0"
features = ["dangerous_configuration"]

[dependencies.serde]
version = "1.0.98"
features = ["derive"]

[dependencies.serde_bytes]
version = "0.11.5"
optional = true

[dependencies.tokio]
version = "~0.2.18"
features = ["io-util", "sync", "macros"]

[dependencies.tokio-rustls]
version = "0.13.0"
features = ["dangerous_configuration"]

[dependencies.uuid]
version = "0.8.1"
features = ["v4"]

[dev-dependencies]
approx = "0.3.2"
derive_more = "0.15.0"
function_name = "0.2.0"
pretty_assertions = "0.6.1"
serde_json = "1.0.40"
semver = "0.9.0"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
