[package]
authors = [
    "Saghm Rossi <saghmrossi@gmail.com>",
    "Patrick Freed <patrick.freed@mongodb.com>",
    "Isabel Atkinson <isabel.atkinson@mongodb.com>",
    "Abraham Egnor <abraham.egnor@mongodb.com>",
    "Kaitlin Mahar <kaitlin.mahar@mongodb.com>",
]
description = "The official MongoDB driver for Rust"
edition = "2018"
keywords = ["mongo", "mongodb", "database", "bson", "nosql"]
categories = ["asynchronous", "database", "web-programming"]
repository = "https://github.com/mongodb/mongo-rust-driver"
license = "Apache-2.0"
readme = "README.md"
name = "mongodb"
version = "2.2.1"

exclude = [
    "etc/**",
    "rustfmt.toml",
    ".evergreen/**",
    ".gitignore",
    "src/test/**",
    "tests/**"
]

[features]
default = ["tokio-runtime"]
tokio-runtime = ["tokio/macros", "tokio/net", "tokio/rt", "tokio/time", "serde_bytes"]
async-std-runtime = ["async-std", "async-std/attributes", "async-std-resolver", "tokio-util/compat"]
sync = ["async-std-runtime"]
tokio-sync = ["tokio-runtime"]
openssl-tls = ["openssl", "openssl-probe", "tokio-openssl"]

# Enable support for v0.4 of the chrono crate in the public API of the BSON library.
bson-chrono-0_4 = ["bson/chrono-0_4"]

# Enable support for the serde_with crate in the BSON library.
bson-serde_with = ["bson/serde_with"]

# Enable support for v0.8 of the uuid crate in the public API of the BSON library.
bson-uuid-0_8 = ["bson/uuid-0_8"]

# Enable support for MONGODB-AWS authentication.
# This can only be used with the tokio-runtime feature flag.
aws-auth = ["reqwest"]

zstd-compression = ["zstd"]
zlib-compression = ["flate2"]
snappy-compression = ["snap"]

[dependencies]
async-trait = "0.1.42"
base64 = "0.13.0"
bitflags = "1.1.0"
bson = "2.2.0"
chrono = "0.4.7"
derivative = "2.1.1"
flate2 = { version = "1.0", optional = true }
futures-core = "0.3.14"
futures-io = "0.3.14"
futures-util = { version = "0.3.14", features = ["io"] }
futures-executor = "0.3.14"
hex = "0.4.0"
hmac = "0.12.1"
lazy_static = "1.4.0"
md-5 = "0.10.1"
openssl = { version = "0.10.38", optional = true }
openssl-probe = { version = "0.1.5", optional = true }
os_info = { version = "3.0.1", default-features = false }
percent-encoding = "2.0.0"
rand = { version = "0.8.3", features = ["small_rng"] }
rustc_version_runtime = "0.2.1"
rustls-pemfile = "0.3.0"
serde_with = "1.3.1"
sha-1 = "0.10.0"
sha2 = "0.10.2"
snap = { version = "1.0.5", optional = true}
socket2 = "0.4.0"
stringprep = "0.1.2"
strsim = "0.10.0"
take_mut = "0.2.2"
thiserror = "1.0.24"
tokio-openssl = { version = "0.6.3", optional = true }
trust-dns-proto = "0.21.1"
trust-dns-resolver = "0.21.1"
typed-builder = "0.10.0"
webpki-roots = "0.22.2"
zstd = { version = "0.11.0", optional = true }

[dependencies.async-std]
version = "1.9.0"
optional = true

[dependencies.async-std-resolver]
version = "0.21.1"
optional = true

[dependencies.pbkdf2]
version = "0.10.1"
default-features = false

[dependencies.reqwest]
version = "0.11.2"
optional = true
default-features = false
features = ["json", "rustls-tls"]

[dependencies.rustls]
version = "0.20.4"
features = ["dangerous_configuration"]

[dependencies.serde]
version = "1.0.125"
features = ["derive"]

[dependencies.serde_bytes]
version = "0.11.5"
optional = true

[dependencies.tokio]
version = "1.4.0"
features = ["io-util", "sync", "macros"]

[dependencies.tokio-rustls]
version = "0.23.2"
features = ["dangerous_configuration"]

[dependencies.tokio-util]
version = "0.7.0"
features = ["io"]

[dependencies.uuid]
version = "0.8.2"
features = ["v4"]

[dev-dependencies]
approx = "0.5.1"
derive_more = "0.99.13"
function_name = "0.2.0"
futures = "0.3"
home = "0.5"
pretty_assertions = "1.1.0"
serde_json = "1.0.64"
semver = "1.0.0"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
