[package]
name = "deps"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mongodb = { path = "../..", features = ["csfle"] }
futures = "0.3"
once_cell = "1.10.0"