[package]
name = "change_stream_legacy"
authors = ["Abraham Egnor <abraham.egnor@mongodb.com>"]
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yaml-rust = "0.4"