---

name: Issue assignment
on:
    issues:
        types: [opened]
jobs:
    auto-assign:
        runs-on: ubuntu-latest
        steps:
            - name: 'Auto-assign issue'
              uses: pozil/auto-assign-issue@v1.1.0
              with:
                  assignees: abr-egn,isabelatkinson
                  numOfAssignee: 1
    add-labels:
        runs-on: ubuntu-latest
        steps:
            - name: initial labeling
              uses: andymckay/labeler@master
              with:
                  add-labels: "triage"
